.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #fdfdff !important; /* Slight background change on click */
}

.Button:active {
  background-color: #6819a4 !important; /* Darker purple on click */
}

.Button:focus {
  background-color: #dd7de6; /* Light purple on focus */
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #6a0dad; /* Purple background for Blue and Bright button hover */
  color: #ffffff; /* White text */
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff; /* White background for outline buttons */
  color: #6a0dad; /* Purple text */
  border: 1px solid #6a0dad; /* Purple border for BlueOutline and Blue buttons */
}

.Black,
.BlackOutline:hover {
  background-color: #6a0dad; /* Purple background for Black button */
  color: aliceblue; /* Light text color */
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue; /* Light background on hover for Black buttons */
  color: #6a0dad; /* Purple text on hover for BlackOutline */
  border-color: #6a0dad; /* Purple border */
}

.Bright {
  background-color: #9b30b0; /* Lighter purple for Bright button */
  color: #ffffff; /* White text */
}
