.NavBar {
  background-color: var(--bs-primary);  /* Purple background */
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
  color: #ffffff;  /* Set text color to white for contrast */
  transition: color 0.3s ease-in-out;
}

.NavLink:hover {
  color: #f1f1f1;  /* Lighter color on hover */
}

.Active i {
  color: #ffffff;  /* White icon color for active links */
}

/* Optional: Hover effect for icons inside the navbar */
.NavLink:hover i {
  color: #f1f1f1;  /* Lighter color for icons on hover */
}
